/* 去除body默认空白*/
body{
    margin: 0;
}

a{
    text-decoration: none;
    color: black;
}
.w{
    width: 980px;
    margin: 0 auto;
}
.pg-header{
    position: fixed;
    top:0;
    left:0;
    right: 0;
    height: 100px;

}

.pg-header .w .logo{
    margin: 10px 0;
    height: 60px;
    width: 300px;

}

.pg-body{
    position: relative;
    left: 0;
    right: 0;
    top: 80px;
    background-color: #fff;
    height: 500px;
    color: #ffa258;
    font-size: 12px;

}
.pg-body .tip-wrapper{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    background-color: #fff8f0;
    text-align: center;
    height: 40px;

}
.pg-body .login{
    position: absolute;
    left: 0;
    right: 0;
    top: 40px;
    background-color: #e93854;
    height: 475px;
    z-index: 9;
}
.pg-body .login .w1{
    width: 980px;
    position: relative;
    margin: 0 auto;
}
#login-ads{

    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: 475px;
    width: 980px;
    background: url('../img/background.png')  no-repeat;
    z-index: 10;

}
#login-ads .login-form{
    float: right;
    position: relative;
    width: 400px;
    background-color: white;
    height: 306px;
    margin-top:75px;

}
#login-ads .login-form .login-title{
    text-align: right;
    font-weight: 700;
    font-size: 20px;
    margin-right: 40px;
    color: #e4393c;
}
#login-ads .login-form .login-input{
    position: relative;
    height: 30px;
    width: 300px;
    left: 10px;
    font-size: 14px;
    line-height: 35px;
    margin: 20px auto;
}
#login-ads .login-form .login-input .user_id{
    position: absolute;
    float: left;
    display: inline-block;
    border: 1px solid  #bdbdbd;
    width: 45px;
    height: 35px;
    background-image: url("../img/pwd-icons-new.png");
    background-position-x:0;
    background-position-y:0;


}
#login-ads .login-form .login-input  label .password_id{
    position: absolute;
    float: left;
    display: inline-block;
    border: 1px solid  #bdbdbd;
    width: 45px;
    height: 35px;
    background-image: url("../img/pwd-icons-new.png");
    background-repeat:no-repeat ;
    background-position-x:-50px;
    background-position-y: 0px;;
}
#login-ads .login-form .login-input input{
    position: absolute;
    left: 35px;
    height: 33px;
    width: 260px;
    border: 1px solid #bdbdbd;
}
#login-ads .login-form .forget-password{
    position: absolute;
    top: 170px;
    right: 40px;
    color: black;
}
#login-ads .login-form .login-btm{
    position: absolute;
    top: 200px;
    right: 40px;
    height: 35px;
    width: 300px;
    background-color:  #e4393c;
    z-index: 20;
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    line-height: 35px;
    font-family: 'Microsoft YaHei';
}
#login-ads .login-form .forget-register{
    position: absolute;
    top: 250px;
    right: 10px;
    height: 35px;
}
#login-ads .login-form .forget-register .forget-tupiao{
    display: inline-block;
    float: right;
    width: 35px;
    height: 35px;
    background-image: url("../img/pwd-icons-new.png");
    background-repeat:no-repeat ;
    background-position-x: -91px;
    background-position-y: -65px;
}
#login-ads .login-form .forget-register a{
    display: inline-block;
    width: 80px;
    float: right;
    height: 35px;
    line-height: 35px;
    color: red;
}



.pg-footer{
    position: absolute;
    top: 600px;
    right: 0;
    left: 0;


}

.pg-footer .link{
    text-align: center;
    font-size: 12px;
    margin: 20px

}
.pg-footer .link a{

    margin: 0 10px;
}
.pg-footer .link span{
    font-size: 12px;
}
.pg-footer .link .copyright{
    margin: 20px 10px;
}